<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<div class="header">
    <h1 class="logo"><a href="./home.html">Article Demo</a></h1>

    <div class="inputs">
        <input placeholder="Search for article...">
        <button class="button">Search</button>
        <a href="./dashboard.html"><button class="button">Log in</button></a>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3 class="cell_title">Recent articles</h3>
            <div class="cell_content">
                <h4 class="title">Sample Title</h4>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae dignissim dui, ac consectetur lorem. Sed id finibus urna, a vestibulum nulla. Integer eu sem ut enim euismod convallis.
                    Ut feugiat vehicula sodales. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus eget lorem risus. Morbi luctus libero in felis mattis cursus. Proin eget ante nec leo commodo luctus eu at nulla.
                    Ut vel dui vel est maximus efficitur.</p>
                <a href="./article.html">Read more</a>
            </div>
        </div>
        <div class="col-sm-6">
            <h3 class="cell_title">Popular articles</h3>
            <div class="cell_content">
                <h4 class="title">Sample Title</h4>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae dignissim dui, ac consectetur lorem. Sed id finibus urna, a vestibulum nulla. Integer eu sem ut enim euismod convallis.
                    Ut feugiat vehicula sodales. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus eget lorem risus. Morbi luctus libero in felis mattis cursus. Proin eget ante nec leo commodo luctus eu at nulla.
                    Ut vel dui vel est maximus efficitur.</p>
                <a href="./article.html">Read more</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>